@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6eb;
  margin: 0 auto;
  width: 75%;
  font-family: 'Roboto', sans-serif;
}

@media (max-width:1140px) {
    body{
        width: 90%
    };
}

button{
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

a{
    cursor: pointer;
}

nav{
    padding: 20px 0;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    /* width:70%; */
    margin: 0 auto;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.links ul{
    display: flex;
    align-items: center;
}

.links ul li{
    list-style: none;
    margin: 0 11px;
}

.links ul li.log-in{
    margin-left: 50px;
}

.sign-up{
	background-color: #381fd1;
	border-radius:5px;
	cursor:pointer;
	color:#ffffff;
	font-weight:bolder;
	padding:8px 18px;
}

@media (max-width:1024px) and (min-width:841px) {
    nav{
        /* width: 100%; */
        /* margin-left: 22px;
        margin-right: 22px; */
    }
    
}

@media (max-width: 840px) {
    nav{
        justify-content: space-between;
        width: 95%;
        margin-left: 22px;
        margin-right: 22px;
    }
    .links {
        text-align: left;
        height: 100%;
    }
    .links ul{
        border-top: 1px solid #e5e5e6;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        text-align: right;
        background-color: #f6f6eb;
        transition: 0.3s;
    }
     .links ul.active {
         height: 100%;
         width: 100%;
         z-index: 100;
        left: 0;
        align-items: flex-start;
        height: 100%;
    }

    .links ul li.log-in{
    margin-left: 30px;
}

    .links ul li {
        margin: .8rem 2rem;
    }

    .hamburger{
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
        border-radius: 50%;
        display: block;
        cursor: pointer;
        background: #e5e5e6;
        padding: 5px;
    }
        .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}



/* ---------------------------------------------------- */
/* hero section  */

.hero-section{
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    background-image: url('/images/alien.png');
    background-repeat: no-repeat;
    /* background-size: 25%; */
   background-position: 80%; 
}

.hero {
    margin-top: 60px;
   
}

.hero p:first-child{
    color: blue;
    font-weight: bolder;
    margin: 40px 0 ;
}

.hero h1{
    font-size: 5.375rem;
    letter-spacing: -.02em;
    line-height: 96px;
    color: #10284b;
}

.hero p:nth-child(3){
    margin: 50px 0;
    font-size: 18px;
    font-weight: 800;
    width: 548px;
    color: #4b4b4e;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.buttons img{
    z-index: 1000;
}

.sign-up-for-free{
    background-color: #381fd1;
    padding: 12px 25px;
    color: white;
    text-align: center;
    font-weight: 800;
    margin: 0 20px 0 0;
    border-radius: 5px;
    width: 180px;
}

.learn-more{
    font-weight: 600;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
}

@media (max-width:1140px) {
    .hero-section{
        background: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .hero p:nth-child(3){
        word-wrap: break-word;
    }
}

@media (max-width:600px) {
    .hero-section, .hero{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .hero h1{
        font-size: 3rem;
        line-height: 60px;
    }
    .hero p:nth-child(3){
        word-wrap: break-word;
        width: 100%;
        font-weight: 500;
    }
    .buttons{
        width: 100%;
    }

    .buttons a{
        margin: 10px 5px;
    }
}


/* -----------------------   tools section    ----------------------------------  */

.stark-in-action{
    text-align: center;
    margin-top: 230px;
}

.stark-in-action p:first-child{
    color: #381fd1;
    font-weight: 600;
    margin-bottom: 20px;
}

.stark-in-action h2{
    font-size: 3rem;
    letter-spacing: -.01em;
    line-height: 53px;
    color: #10284b;
    font-weight: 900;
}

.stark-in-action p:nth-child(3){
    margin: 20px auto;
    text-align: center;
    width: 60%;
    font-size: 22px;
    font-weight: 500;
    color: #4b4b4e;
}

.tabs {
  background: url('../images/svg2.svg') no-repeat center;
  width: 80%;
  margin: 50px auto;
  position: relative;
  height: 500px;
}
.tabs .tab-header {
  border: 2px solid;
  border-radius: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs .tab-header > div {
  position:relative;
  display:flex;
    align-items: center;
  justify-content: center;
  width:25%;
  text-align:center;
  padding:10px;
  z-index:2;
  font-weight:600;
  color:#888;
  cursor:pointer;
  transition:all 300ms ease-in-out;
}

.tabs .tab-header > div.active {
  color: white;
  background:  #10284b;
  padding: 15px;
  border-radius: 20px;
}

.tabs .tab-header > div img{
    width: 20px;
    margin-right: 20px
}

.tabs .tab-indicator {
  /* position:absolute; */
  width:calc(25% - 5px);
  height:40px;
  /* background:#d9e5f9; */
  top:10px;
  left:10px;
  border-radius:20px;
  transition:all 300ms ease-in-out;
}
.tabs .tab-body {
  position:relative;
  padding:20px;
  margin-bottom: 40px;
  height:calc(100% - 50px);
  overflow:hidden;
}
.tabs .tab-body > div {
  position:absolute;
  opacity:0;
  top:-100%;
  transform:translateY(-10px);
  transition:opacity 300ms ease-in-out,
            transform 300ms ease-in-out;
}


.tabs .tab-body > div.active {
    transform:translateY(0px);
    top:30px;
    opacity:1;
}

.tabs .tab-body > div > img {
    width: 100%;
}

@media (max-width: 767px) {
    .tabs .tab-body {
        margin: 0 0;
        width: 100%;
    }

    .tabs .tab-header >div p{
        display: none;
    }
}